<ion-view view-title="MWAA Feedback">
  <ion-content>

    <div class="padding">
      <h3 class="custom">Where are you flying to?</h3>
    </div>

    <div class="list list-inset">

      <label class="item item-radio">
        <input type="radio" name="group" value="CAK" ng-model="formData.q26">
        <div class="item-content">Akron/Canton</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ALB" ng-model="formData.q26">
        <div class="item-content">Albany (NY)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="AVL" ng-model="formData.q26">
        <div class="item-content">Asheville</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ATL" ng-model="formData.q26">
        <div class="item-content">Atlanta</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="AGS" ng-model="formData.q26">
        <div class="item-content">Augusta (GA)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="AUS" ng-model="formData.q26">
        <div class="item-content">Austin</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BGR" ng-model="formData.q26">
        <div class="item-content">Bangor</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BDA" ng-model="formData.q26">
        <div class="item-content">Bermuda</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BHM" ng-model="formData.q26">
        <div class="item-content">Birmingham (AL)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BOS" ng-model="formData.q26">
        <div class="item-content">Boston</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BUF" ng-model="formData.q26">
        <div class="item-content">Buffalo</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BTV" ng-model="formData.q26">
        <div class="item-content">Burlington (VT)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CHS" ng-model="formData.q26">
        <div class="item-content">Charleston (SC)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CRW" ng-model="formData.q26">
        <div class="item-content">Charleston (WV)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CLT" ng-model="formData.q26">
        <div class="item-content">Charlotte</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CHA" ng-model="formData.q26">
        <div class="item-content">Chattanooga</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MDW" ng-model="formData.q26">
        <div class="item-content">Chicago-Midway</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ORD" ng-model="formData.q26">
        <div class="item-content">Chicago–O'Hare</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CVG" ng-model="formData.q26">
        <div class="item-content">Cincinnati</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CLE" ng-model="formData.q26">
        <div class="item-content">Cleveland</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CAE" ng-model="formData.q26">
        <div class="item-content">Columbia (SC)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="CMH" ng-model="formData.q26">
        <div class="item-content">Columbus (OH)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DFW" ng-model="formData.q26">
        <div class="item-content">Dallas/Fort Worth</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DAL" ng-model="formData.q26">
        <div class="item-content">Dallas–Love</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DAY" ng-model="formData.q26">
        <div class="item-content">Dayton</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DEN" ng-model="formData.q26">
        <div class="item-content">Denver</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DSM" ng-model="formData.q26">
        <div class="item-content">Des Moines</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="DTW" ng-model="formData.q26">
        <div class="item-content">Detroit</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="FLL" ng-model="formData.q26">
        <div class="item-content">Fort Lauderdale</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="RSW" ng-model="formData.q26">
        <div class="item-content">Fort Myers</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="GSO" ng-model="formData.q26">
        <div class="item-content">Greensboro</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="GSP" ng-model="formData.q26">
        <div class="item-content">Greenville/Spartanburg</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BDL" ng-model="formData.q26">
        <div class="item-content">Hartford</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="HOU" ng-model="formData.q26">
        <div class="item-content">Houston–Hobby</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="IAH" ng-model="formData.q26">
        <div class="item-content">Houston–Intercontinental</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="HSV" ng-model="formData.q26">
        <div class="item-content">Huntsville</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="IND" ng-model="formData.q26">
        <div class="item-content">Indianapolis</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="JAN" ng-model="formData.q26">
        <div class="item-content">Jackson (MS)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="JAX" ng-model="formData.q26">
        <div class="item-content">Jacksonville (FL)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MCI" ng-model="formData.q26">
        <div class="item-content">Kansas City</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="EYW" ng-model="formData.q26">
        <div class="item-content">Key West</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="TYS" ng-model="formData.q26">
        <div class="item-content">Knoxville</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="LAN" ng-model="formData.q26">
        <div class="item-content">Lansing</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="LAS" ng-model="formData.q26">
        <div class="item-content">Las Vegas</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="LEX" ng-model="formData.q26">
        <div class="item-content">Lexington</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="LAX" ng-model="formData.q26">
        <div class="item-content">Los Angeles</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SDF" ng-model="formData.q26">
        <div class="item-content">Louisville</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MSN" ng-model="formData.q26">
        <div class="item-content">Madison</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MHT" ng-model="formData.q26">
        <div class="item-content">Manchester (NH)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MVY" ng-model="formData.q26">
        <div class="item-content">Martha's Vineyard</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MEM" ng-model="formData.q26">
        <div class="item-content">Memphis</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MIA" ng-model="formData.q26">
        <div class="item-content">Miami</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MKE" ng-model="formData.q26">
        <div class="item-content">Milwaukee</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MSP" ng-model="formData.q26">
        <div class="item-content">Minneapolis/St. Paul</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="YUL" ng-model="formData.q26">
        <div class="item-content">Montréal–Trudeau</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ACK" ng-model="formData.q26">
        <div class="item-content">Nantucket</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="BNA" ng-model="formData.q26">
        <div class="item-content">Nashville</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="NAS" ng-model="formData.q26">
        <div class="item-content">Nassau</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MSY" ng-model="formData.q26">
        <div class="item-content">New Orleans</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="JFK" ng-model="formData.q26">
        <div class="item-content">New York-JFK</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="LGA" ng-model="formData.q26">
        <div class="item-content">New York–LaGuardia</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="EWR" ng-model="formData.q26">
        <div class="item-content">Newark</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ORF" ng-model="formData.q26">
        <div class="item-content">Norfolk</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="OMA" ng-model="formData.q26">
        <div class="item-content">Omaha</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="MCO" ng-model="formData.q26">
        <div class="item-content">Orlando</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="YOW" ng-model="formData.q26">
        <div class="item-content">Ottawa</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PHL" ng-model="formData.q26">
        <div class="item-content">Philadelphia</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PHX" ng-model="formData.q26">
        <div class="item-content">Phoenix</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PIT" ng-model="formData.q26">
        <div class="item-content">Pittsburgh</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PWM" ng-model="formData.q26">
        <div class="item-content">Portland (ME)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PDX" ng-model="formData.q26">
        <div class="item-content">Portland (OR)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PVD" ng-model="formData.q26">
        <div class="item-content">Providence</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="RDU" ng-model="formData.q26">
        <div class="item-content">Raleigh/Durham</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="ROC" ng-model="formData.q26">
        <div class="item-content">Rochester (NY)</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SLC" ng-model="formData.q26">
        <div class="item-content">Salt Lake City</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SFO" ng-model="formData.q26">
        <div class="item-content">San Francisco</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SJU" ng-model="formData.q26">
        <div class="item-content">San Juan</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SRQ" ng-model="formData.q26">
        <div class="item-content">Sarasota</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SEA" ng-model="formData.q26">
        <div class="item-content">Seattle/Tacoma</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="STL" ng-model="formData.q26">
        <div class="item-content">St. Louis</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="SYR" ng-model="formData.q26">
        <div class="item-content">Syracuse</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="TPA" ng-model="formData.q26">
        <div class="item-content">Tampa</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="YYZ" ng-model="formData.q26">
        <div class="item-content">Toronto–Pearson</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="PBI" ng-model="formData.q26">
        <div class="item-content">West Palm Beach</div><i class="radio-icon ion-checkmark"></i></label>
      <label class="item item-radio">
        <input type="radio" name="group" value="HPN" ng-model="formData.q26">
        <div class="item-content">White Plains</div><i class="radio-icon ion-checkmark"></i></label>

    </div>

    <div class="padding">
      <a class="button button-block button-positive" ui-sref="tab.q27">Next</a>
    </div>

  </ion-content>
</ion-view>
