<ion-view view-title="Airport Feedback">
  <ion-content>

    <div class="padding">
      <h3 class="custom">Are you departing or arriving into Reagan National Airport?</h3>
    </div>

    <div class="list list-inset">

      <label class="item item-radio">
        <input type="radio" name="group" value="arriving" ng-model="formData.q1">
        <div class="item-content">
          Arriving
          <!-- <small><i>(flying out of Reagan National Airport)</i></small> -->
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="departing" ng-model="formData.q1">
        <div class="item-content">
          Departing
          <!-- <small><i>(flying into Reagan National Airport)</i></small> -->
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>

    <div class="padding">
      <a class="button button-block button-positive" ng-click="submitAnswer()">Next</a>
    </div>

  </ion-content>
</ion-view>
