<ion-view view-title="MWAA Feedback">
  <ion-content>

    <h3 class="custom">{{feedback.firstname}} {{feedback.lastname}}</h3>

    <div class="card">
      <div class="item item-text-wrap">
        <p>Do you feel the new website will reflect a positive and fresh approach for MWAA?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q1}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>Are you satisfied with the new website approach and design?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q2}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>A core component of the new website is to improve operational efficiency by consolidating multiple websites into a single tool -- one that’s focused on enhancing our relationship with our customers and other stakeholders. Was that successfully communicated?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q3}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>A core component of the new website is to create a new revenue platform. Was that successfully communicated?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q4}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>A core component of the new website is a project plan that prioritizes rapid innovation and delivery. Was that successfully communicated?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q5}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>What questions do you have about the website?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q6yes}}
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p>How could we improve the new website design?</p>
      </div>
      <div class="item item-text-wrap">
        {{feedback.q7yes}}
      </div>
    </div>

  </ion-content>
</ion-view>
