<ion-view view-title="MWAA Feedback">
  <ion-content>

    <div class="padding">
      <h3 class="custom">Which airline are you flying?</h3>
    </div>

    <div class="list list-inset">

      <label class="item item-radio">
        <input type="radio" name="group" value="Air Canada" ng-model="formData.q2">
        <div class="item-content">
          Air Canada
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Alaska Airlines" ng-model="formData.q2">
        <div class="item-content">
          Alaska Airlines
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="American Airlines" ng-model="formData.q2">
        <div class="item-content">
          American Airlines
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Delta" ng-model="formData.q2">
        <div class="item-content">
          Delta
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Frontier" ng-model="formData.q2">
        <div class="item-content">
          Frontier
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="jetBlue" ng-model="formData.q2">
        <div class="item-content">
          jetBlue
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Southwest" ng-model="formData.q2">
        <div class="item-content">
          Southwest
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Sun Country Airlines" ng-model="formData.q2">
        <div class="item-content">
          Sun Country Airlines
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="United" ng-model="formData.q2">
        <div class="item-content">
          United
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="US Airways" ng-model="formData.q2">
        <div class="item-content">
          US Airways
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" value="Virgin America" ng-model="formData.q2">
        <div class="item-content">
          Virgin America
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

    </div>

    <div class="padding">
      <a class="button button-block button-positive" ui-sref="tab.q3">Next</a>
    </div>

  </ion-content>
</ion-view>
