<ion-view view-title="MWAA Feedback">
  <ion-content>

    <div class="list">

      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="formData.firstname">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="formData.lastname">
      </label>

    </div>

    <div class="padding">
      <a class="button button-block button-positive" ng-click="registerUser()">Next</a>
    </div>

  </ion-content>
</ion-view>
